@import "../../../sass/essentials";

.categories-list-wrap {
  -webkit-box-shadow: 0 8px 8px -4px rgba(40, 44, 63, 0.04);
  box-shadow: 0 8px 8px -4px rgba(40, 44, 63, 0.04);
  width: 100%;
  display: flex;
  padding-bottom: 16px;
	margin-top: 24px;

	@include mq( small ) {
		margin-top: 100px;
	}

  .categories-list {
    display: flex;
    justify-content: center;
	  flex-flow: wrap;
    width: 100%;
  }

  .categories-link {
    display: inline-block;
    padding: 8px 16px;
    transition: 0.3s;
	  position: relative;

    color: #91969a;
    font-weight: 700;
    &.active,
    &:hover {
      color: #555;
    }

	  &:after {
		  content: '';
		  position: absolute;
		  top: 34px;
		  left: 0;
		  right: 0;
		  width: 71%;
		  margin: auto;
		  height: 1px;
		  transform: scaleX(0);
		  background-color: #757575;
		  transition: transform 0.3s;
	  }

	  &:hover {
		  &:after {
			  transform: scaleX(1);
		  }
	  }
  }
}
