@import "../../sass/essentials";

.page-content-wrap {

	display: grid;
	padding-bottom: 48px;
	grid-template-columns: 100%;

	@media only screen and ( min-width: $tablet ) {
		grid-template-columns: 70% 30%;
	}

	.page-content {

		padding-bottom: 48px;

		@media only screen and ( min-width: $tablet ) {
			padding-right: 48px;
			padding-bottom: 0;
		}
	}
}
