@import "../../../sass/essentials";

.carousel-img-wrap {
  position: relative;
  img {
    width: 100%;
  }
}

.carousal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(90deg, white -70%, rgba(0, 212, 255, 0) 80%);
}

.carousal-info-inner {
  max-width: 400px;

	p {
		@include mq( $until: medium ) {
			display: none;
		}
	}

	h2 {
		@include mq( $until: medium ) {
			font-size: 18px;
			margin-bottom: 8px;
		}
	}

	a {
		transition: 0.5s;
	}
}

.slick-track {
	.slick-slide.slick-active {
		z-index: 2;
	}
}


