@import "../../sass/essentials";

.footer {
  background-image: background_url("footer-background.png");
  background-size: cover;

  .footer__top {
    color: $white;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .widget-title {
    font-size: 22px;
    color: $white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

.footer__sidebar-one,
.footer__sidebar-two {
  > .widget:not(:last-child) {
    margin-bottom: 24px;
  }

  h2 {
    font-weight: 800;
    margin-bottom: 18px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer__sidebar-one,
.footer__sidebar-two,
.footer-menu-items {
  margin-bottom: 50px;
}

.footer-menu-items {
  h6 {
    margin-bottom: 18px;
  }

  ul {
    li {
      margin-bottom: 10px;
    }
    i {
      padding-right: 2px;
      font-size: 12px;
      margin-right: 5px;
    }

	  a {
		  position: relative;
		  color: #ccc;
		  &:visited {
			  color: #ccc;
		  }

		  &:after {
			  content:'';
			  position: absolute;
			  width: 100%;
			  height: 1px;
			  bottom: -3px;
			  left: 0;
			  background-color: $gray-100;
			  transform: scaleX(0);
			  transform-origin: bottom right;
			  transition: transform 0.3s;
		  }

		  &:hover {

			  opacity: 0.5;
			  color: $white;

			  &:after {
				  transform-origin: bottom left;
				  transform: scaleX(1);
			  }
		  }
	  }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  color: $white;
  margin-top: 20px;
  padding: 0 10px 30px 10px;
}

.social-links {
  display: flex;
  align-items: center;

  li {
    display: inline-block;
    margin-left: 15px;

    svg {
      fill: currentColor;
    }
  }
}

@include mq($from: medium) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-widget {
    flex-basis: 30%;
  }
}

.footer {
  a {
    color: #ccc;
  }
}

.widget-content {
	a {
		position: relative;

		&:after {
			content:'';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -3px;
			left: 0;
			background-color: $gray-100;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform 0.3s;
		}

		&:hover {

			opacity: 0.5;
			color: $white;

			&:after {
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
	}
}

.copyright-text {
	a {
		position: relative;

		&:after {
			content:'';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -3px;
			left: 0;
			background-color: $gray-100;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform 0.3s;
		}

		&:hover {

			opacity: 0.5;
			color: $white;

			&:after {
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
	}
}
