$white: #ffffff;
$black: #000000;
$color__body: #fff;
$gray: #ccc;
$color__primary: #1e5663;
$color__secondary: #e98f23;
$color__text: #555;

/* Borders */
$color__border: #eaeaea;
$color__border-secondary: $gray;
$color--border-fieldset: $color__border-secondary;
$color__menu-border: #757575;

/* Box Shadow */
$color__box-shadow: #f8f8f8;

// Bootstrap colors
$color__text-primary: #007bff;
$color__text-secondary: #6c757d;
$color__text-success: #28a745;
$color__text-danger: #dc3545;
$color__text-warning: #ffc107;
$color__text-info: #17a2b8;
$color__text-light: #343a40;
$color__text-dark: #343a40;
$color__text-body: #6c757d;
$color__text-muted: #6c757d;
$color__text-white: #fff;
$color__text-black-50: rgba(0, 0, 0, 0.5);
$color__text-white-50: rgba(255, 255, 255, 0.5);

$color__primary-link: #007bff;
$color__secondary-link: #6c757d;
$color__success-link: #28a745;
$color__danger-link: #dc3545;
$color__warning-link: #ffc107;
$color__info-link: #17a2b8;
$color__light-link: #343a40;
$color__dark-link: #343a40;
$color__muted-link: #6c757d;
$color__white-link: #fff;

$color__bg-primary: #007bff;
$color__bg-secondary: #6c757d;
$color__bg-success: #28a745;
$color__bg-danger: #dc3545;
$color__bg-warning: #ffc107;
$color__bg-info: #17a2b8;
$color__bg-light: #343a40;
$color__bg-dark: #343a40;
$color__bg-white: #fff;
$color__bg-transparent: none;
