$white: #ffffff;
$black: #000000;
$color__body: #fff;
$gray: #ccc;
$color__primary: #1e5663;
$color__secondary: #e98f23;
$color__text: #555;

/* Borders */
$color__border: #eaeaea;
$color__border-secondary: $gray;
$color--border-fieldset: $color__border-secondary;
$color__menu-border: #757575;

/* Box Shadow */
$color__box-shadow: #f8f8f8;
