@import "../../../sass/essentials";

.cart-product-title-wrap {
	height: 100px;
	border: 1px solid #ccc;
	padding: 17px 20px;
	margin-bottom: 5px;
	position: relative;

	@include mq( small ) {
		height: 120px;
	}
}

.cart-remove-item {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 22px;
	padding: 0 11px;
	border: 1px solid #ccc;
}

.cart-product-title {
	color: #6394f8;
	font-weight: normal;
	font-size: 25px;
}

.cart-left-col,
.cart-right-col{
	@include mq( small ) {
		padding-left: 0 !important;
	}
}

.cart-product-price {
	background: #fcfcfc;
	color: #000;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.cart-product-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
}

.cart-total-price {
	background: #6394f8;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.increment-btn,
.decrement-btn {
	padding: 1px 12px;
	font-size: 22px;
	color: #757575;
	border: none;
}

.woo-next-cart-qty-input.form-control {
	border: none;
}
