/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	left: -999em;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;

	&:focus {
		border-radius: 5px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		clip-path: none;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.container {
	width: 100%;
	max-width: $site-width;
	padding-left: $container-padding;
	padding-right: $container-padding;
	margin-left: auto;
	margin-right: auto;
}

.icon-button {
	background: none;
	border: none;
	width: auto;
	padding: 0;
	margin: 0;
}

.is-font-primary {
	font-family: $font__primary;
}

.is-font-primary-bold {
	font-family: $font__primary;
	font-weight: 700;
}

.is-font-arial {
	font-family: $font__secondary_arial;
}

.is-font-times-new-roman {
	font-family: $font__secondary_times_new_roman;
}

.is-font-futura {
	font-family: $font__secondary_futura;
}

.is-font-impact {
	font-family: $font__secondary_impact;
}
.view-all-wrap {
	text-align: center;
	padding: 36px 0 0 0;
}

button {
	white-space: nowrap;
	padding: 14px 20px;
	border: 2px solid #757575;
	border-radius: 45px;
	text-align: center;
	vertical-align: middle;
	background-color: $white;
}

.button-secondary {
	background-color: #e98f31;
	color: $white;
	border: none;
}
