// Foundation essentials.
@import "~foundation-sites/scss/global";
@import "~foundation-sites/scss/foundation";

// Import Zurb Foundation Grid
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-visibility-classes;

.main-container {
	.row {
		max-width: $site-width;
	}

}
