@import "../../../sass/essentials";

.product-container > div {
	position: relative;
	.wishlist-container {
		opacity: 1;
		transition: 0.5s;

		@include mq( large ) {
			opacity: 0;
		}
	}
	&:hover {
		.wishlist-container {
			opacity: 1;
		}
	}
}
.wishlist-container {
	position: absolute;
	top: 0;
	right: 0;
	padding: 30px;
	.wishlist-btn {
		&:focus {
			outline: none;
			box-shadow: none;
		}

		.heart-icon {

		}
	}
}



.heart {
	display: block;
	width: 18px;
	height: 18px;
	position: relative;
	transform-origin: 50% 50%;
	transform: rotate(45deg) scale(1);
	&:before {
		content: "";
		position: absolute;
		display: block;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		width: inherit;
		height: 12px;
		top: 6px;
		left: 0;
		background-color: #343b3f;
		box-shadow: 0 0 15px #999;
	}
	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 12px;
		top: 0;
		left: 6px;
		height: inherit;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		background-color: #343b3f;
	}

	&.added {
		&::after,
		&:before {
			background-color: #ff0102;
		}
	}
}
